{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_poll.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
</head>

{% for p in poll %}
<form method="POST" action="{% url 'edit_poll' poll_id=p.id %}" encType="multipart/form-data">
    {% endfor %}
    {% csrf_token %}
    <div class="container">
        {% if success %}<p class="text-success">{{ success }}</p>{% endif %}
        <h1>Edit poll</h1>
        <br>
        <div class="container">
            <label>Poll name </label>
            {% for p in poll %}
            <input type="text" class="form-control" id="name" name="name" value='{{ p.subject }}'>
            <br>
            <label>Image</label>
            <input type="file" name="document" id="document">
            <br><br>
            <label>Poll detail</label>
            <input type="text" class="form-control" id="detail" name="detail" value='{{ p.detail }}'>
            <br>
            <p>Date Start (If you want to start now don't fill in blank.)</p>
            <input type="date" id="datestart" name="datestart" class="form-control"
                value={{ p.start_date|date:'Y-m-d'  }}>
            <br>
            <p>Time Start (If you want to start now don't fill in blank.)</p>
            <input type="time" id="start_time" name="start_time" class="form-control"
                value={{ p.start_time|date:'H:i'  }}>
            <br>
            <p>Date End</p>
            <input type="date" id="dateend" name="dateend" class="form-control" value={{ p.end_date|date:'Y-m-d'  }}>
            <br>
            <p>Date Time </p>
            <input type="time" id="end_time" name="end_time" class="form-control" value={{ p.end_time|date:'H:i'  }}>
            <br>
            <label>Password for this vote room</label>
            <input type="text" class="form-control" id="password" name="password" value='{{ p.password }}'>
            <br>
            {% endfor %}
            <label>Poll choices</label>
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" id="choice1" name="choice1">
                    <br>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" id="choice2" name="choice2">
                    <br>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" id="choice3" name="choice3">
                    <br>
                </div>
            </div>
        </div>
        <center>
            <button type="submit" class="btn btn-primary ml-3">Update</button>
        </center>
    </div>



    {% endblock %}