{% extends "base.html" %}
{% block content %}


    
    {% if error %}<p class="text-danger">{{ error }}</p>
        {% for c in checkk %}
            <form method="POST" action="{% url 'view_password' poll_id=c.id  %}">
            {% csrf_token %}
        {% endfor %}
        <label>Key password</label>
        <input type="text" name="check" id="check">
        {% for c in checkk %}
            <button type="submit" id="{{ c.id }}">Check</button>
        {% endfor %}
    
    {% else %}
        {% for c in check %}
            <form method="POST" action="{% url 'view_password' poll_id=c.id  %}">
            {% csrf_token %}
        {% endfor %}
        <label>Key password</label>
        <input type="text" name="check" id="check">
        {% for c in check %}
            <button type="submit" id="{{ c.id }}">Check</button>
        {% endfor %}
    {% endif %}

{% endblock %}