{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>All poll</h1>
<br><br>
<div class="container">

    <!-- avaliable -->
    <div class="container">
        <h1>Avaliable</h1>
        <br><br>
        <div class="row">
            {% for p in pollnow1 %}
            <div class="col-4">
                <div class="container">
                    <center>
                    <h3>
                    {{ p.subject }}
                    </h3>
                    
                    {% comment %} concat string {% endcomment %}
                    {% with 'media/'|add:p.picture as image_static %}
                        <img src={% static image_static %} style="width:240px;height:250px"/>
                    {% endwith %}
                    {% comment %} concat string {% endcomment %}
                    <br><br>
                    <a href="{% url 'view_detail' poll_id=p.id %}">
                    <button class='btn btn-primary' id="{{p.id}}">View</button>
                    <br><br><br>
                    </a>
                    </center>
                </div>
            </div>
            {% endfor %}
            {% for p in pollnow2 %}
            <div class="col-4">
                <div class="container">
                    <center>
                    <h3>
                    {{ p.subject }}
                    </h3>
                    {% comment %} <img src="{{ p.picture }}"/> {% endcomment %}
                    <br>
                    <a href="{% url 'view_detail' poll_id=p.id %}">
                    <button class='btn btn-primary' id="{{p.id}}">View</button>
                    </a>
                    </center>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br><br>
    <!-- closed -->
    <div class="container">
        <h1>Closed</h1>
        <br><br>
        <div class="row">
            {% for p in polllate1 %}
            <div class="col-4">
                <div class="container">
                    <center>
                    <h3>
                    {{ p.subject }}
                    </h3>
                    <a href="{% url 'view_detail' poll_id=p.id %}">
                    <button class='btn btn-primary' id="{{p.id}}">View</button>
                    </a>
                    </center>
                </div>
            </div>
            {% endfor %}
            {% for p in polllate2 %}
            <div class="col-4">
                <div class="container">
                    <center>
                    <h3>
                    {{ p.subject }}
                    </h3>
                    <a href="{% url 'view_detail' poll_id=p.id %}">
                    <button class='btn btn-primary' id="{{p.id}}">View</button>
                    </a>
                    </center>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}