{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_poll.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<h1>My poll</h1>
{% if success %}<p class="text-success">{{ success }}</p>{% endif %}
<div class="container">
    <br><br>
    <div class="row">
        {% for p in allpoll %}
        <div class="col-4">
            <div class="card-body">
                <center>
                    <br>
                    <h3 class="card-title text-center">{{ p.subject }}</h3>
                    <br>
                    {% if p.picture %}
                    {% comment %} concat string {% endcomment %}
                    {% with 'media/'|add:p.picture as image_static %}
                    <img src={% static image_static %} style="width:240px;height:250px" />
                    {% endwith %}
                    {% comment %} concat string {% endcomment %}
                    {% else %}
                    <img src="{% static 'media/default.png' %}" style="width:240px;height:250px" />
                    {% endif %}
                    <br><br>
                    <a href="{% url 'view_detail' poll_id=p.id %}">
                        <button class='btn btn-primary' id="{{p.id}}">View</button>
                    </a>
                    <a href="{% url 'edit_poll' poll_id=p.id %}">
                        <button class='btn btn-warning' id="{{p.id}}">Edit</button>
                    </a>
                    <a href="{% url 'delete_poll' poll_id=p.id %}">
                        <button class='btn btn-danger' id="{{p.id}}">Delete</button>
                    </a>
                </center>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}