{% extends "base.html" %}
{% block content %}
    <h1>My poll</h1>
    <div class="container">
        <h1>Avaliable</h1>
        <br><br>
        <div class="row">
            {% for p in allpoll %}
            <div class="col-4">
                <div class="container">
                    <center>
                    <h3>{{ p.subject }}</h3>
                    <br>
                    <a href="{% url 'view_detail' poll_id=p.id %}">
                    <button class='btn btn-primary' id="{{p.id}}">View</button>
                    </a>
                    <a href="{% url 'edit_poll' poll_id=p.id %}">
                    <button class='btn btn-primary' id="{{p.id}}">Edit</button>
                    </a>
                    <a href="{% url 'delete_poll' poll_id=p.id %}">
                    <button class='btn btn-primary' id="{{p.id}}">Delete</button>
                    </a>
                    </center>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}