{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">

            <h4 class="card-title text-center">Sign In</h4>
            {% if error %}<p class="text-danger">{{ error }}</p>{% endif %}
            <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="username" class="form-control" placeholder="username" name="username"
                  value="{{username}}" required autofocus>
              </div>
              <br>
              <div class="form-label-group">
                <input type="password" id="password" class="form-control" placeholder="Password" name="password"
                  value="{{password}}" required>
              </div>
              <br>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            </form>
            <br>
            <form method="POST" action="{% url 'sign_up' %}">
              {% csrf_token %}
              <a href="{% url 'sign_up' %}"><button type="button"
                  class="btn btn-lg btn-primary btn-block text-uppercase">Create New User</button></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>